{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
{{site.site.name}} | {{category.name}}
{% endblock title %}

{% block content %}

	<section id="main">
		<div class="container">
			<div class="row">
				<h3>{{category.name}}</h3>
				<div class="col-md-8">
					<div class="featured-posts gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
						<div class="content-left">
							<article class="post">
								<div class="thumb">
									<a href="#"><img src="{{featured.0.introImage.url}}" alt="img"></a>
								</div>
								<div class="cat">
									<a href="#">{{featured.0.categories.0}}</a>
								</div>
								<h3><a href="#">{{featured.0.title}}</a></h3>
								<p class="excerpt-entry">{{featured.0.introText|safe}}</p>
								<div class="post-meta">
									<span class="author">By <a href="#">{{featured.0.author}}</a></span>
								</div>
							</article><!--  /.post -->
						</div><!-- /.content-left -->
						<div class="content-right">
							<article class="post">
								<div class="thumb">
									<a href="#"><img src="{{featured.0.introImage.url}}" alt="img"></a>
								</div>
								<div class="cat">
									<a href="#">{{featured.0.categories.0}}</a>
								</div>
								<h3><a href="#">{{featured.1.title}}</a></h3>
								<p class="excerpt-entry">{{featured.0.introText|safe}}</p>
								<div class="post-meta">
									<span class="author">By <a href="#">{{featured.0.author}}</a></span>
								</div>
							</article><!--  /.post -->
							<article class="post">
								<div class="thumb">
									<a href="#"><img src="{{featured.0.introImage.url}}" alt="img"></a>
								</div>
								<div class="cat">
									<a href="#">{{featured.2.categories.0}}</a>
								</div>
								<h3><a href="#">{{featured.0.title}}</a></h3>
								<p class="excerpt-entry">{{featured.0.introText|safe}}</p>
								<div class="post-meta">
									<span class="author">By <a href="#">{{featured.0.author}}</a></span>
								</div>
							</article><!--  /.post -->
						</div><!-- /.content-right -->
					</div><!-- /.featured-posts -->
					<div class="editors-posts gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
						<div class="gn-line"></div>
						<div class="section-title">
							<h4><a href="#">Articles Repository</a></h4>
						</div>
						<div class="post-wrap">
							{% for each in recent %}
							<article class="post">
								<div class="thumb">
									<a href="#"><img src="{{each.introImage.url}}" alt="img"></a>
								</div>
								<div class="content">
									<div class="cat">
										<a href="#">{{each.categories}}</a>
									</div>
									<h3><a href="#">{{each.title}}</a></h3>
									<p class="excerpt-entry">{{each.introText|safe}}</p>
									<div class="post-meta">
										<span class="author">By <a href="#">{{each.author}}</a></span>
										<span class="time">{{each.date_added}}</span>
									</div>
								</div>
							</article><!--  /.post -->
							{% endfor %}

						</div><!-- /.post-wrap -->
					</div><!-- /.editors-posts -->

				</div><!-- /.col-md-8 -->
				<div class="col-md-4">
					<div class="sidebar-widget-1">
						<div class="widget widget-recent gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
							<h5 class="widget-title">Recent Posts</h5>
							<ul>
								{% for each in recent %}
								<li>
									<div class="thumb">
										<a href="#"><img src="{{each.introImage.url}}" alt="img"></a>
									</div>
									<div class="content">
										<h3><a href="#">{{each.title}}</a></h3>
										<div class="date">{{each.date_added}}</div>
									</div>
								</li>
								{% endfor %}
							</ul>
						</div><!-- /.widget-recent -->
						<div class="widget widget-ads gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
							<a href="http://www.intertek.com" target="_blank"><img src="{% static "ads/interteck.png" %}" style="width:500px; margin-left:5px;" alt="image"></a>
							<p class="text-ad">Advertisement</p>
						</div><!-- /.widget-ads -->
						<div class="widget widget-most-popular gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
							<h5 class="widget-title">5 Most Popular</h5>
							<ul>
								{% for each in popular %}
								<li>
									<div class="order">{{forloop.counter}}</div>
									<p><a href="#">{{each.title}}</a></p>
								</li>
								{% endfor %}
							</ul>
						</div><!-- /.widget-popular -->
						<div class="widget widget-follow-us gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
							<h5 class="widget-title text-dark">Follow Us</h5>
							<div class="socials">
								<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
								<a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
								<a class="google" href="#"><i class="fa fa-google-plus"></i></a>
								<a class="youtube" href="#"><i class="fa fa-youtube"></i></a>
								<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
								<a class="tumblr" href="#"><i class="fa fa-tumblr"></i></a>
							</div>
						</div><!-- /.widget-follow-us -->
						<div class="widget widget-subscribe gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
							<h5 class="widget-title">Good News Newsetter</h5>
							<p>Subscribe to our email newsletter for good news, sent out every Monday.</p>
							<form method="post" action="#" id="subscribe-form" data-mailchimp="true">
								<div id="subscribe-content">
									<div class="input">
									   <input type="text" id="subscribe-email" name="subscribe-email" placeholder="Email">
									</div>
									<div class="button">
									   <button type="button" id="subscribe-button" class="" title="Subscribe now">Subscribe</button>
									</div>
								</div>
								<div id="subscribe-msg"></div>
							</form>
						</div><!-- /.widget-subscribe -->
					</div><!-- /.sidebar -->
				</div><!-- /.col-md-4 -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>

{% endblock content %}
