{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
	<title>{% block title %}{% endblock title %} | Indian Printer Publisher (IPP) Group</title>
	<meta name="description" content="{{description}}">
	<meta name="keywords" content="{{keywords}}">
	<meta name="author" content="Delhi Nerds">

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Bootstrap  -->
	<link rel="stylesheet" type="text/css" href="{% static "stylesheets/bootstrap.css" %}" >

	<!-- Theme Style -->
	<link rel="stylesheet" type="text/css" href="{% static "stylesheets/style.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "custom.css" %}">

	<!-- Colors -->
	<link rel="stylesheet" type="text/css" href="{% static "stylesheets/colors/color1.css" %}" id="colors">

	<!-- Animation Style -->
	<link rel="stylesheet" type="text/css" href="{% static "stylesheets/animate.css" %}">

	<!-- Google Fonts
	<link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>-->

	<!-- Favicon and touch icons  -->
	<link href="{% static "icon/apple-touch-icon-144-precomposed.png" %}" rel="apple-touch-icon-precomposed" sizes="144x144">
	<link href="{% static "icon/apple-touch-icon-114-precomposed.png" %}" rel="apple-touch-icon-precomposed" sizes="114x114">
	<link href="{% static "icon/apple-touch-icon-72-precomposed.png" %}" rel="apple-touch-icon-precomposed" sizes="72x72">
	<link href="{% static "icon/apple-touch-icon-57-precomposed.png" %}" rel="apple-touch-icon-precomposed">
	<link href="{% static "icon/favicon.png" %}" rel="shortcut icon">

	<!--[if lt IE 9]>
		<script src="javascript/html5shiv.js"></script>
		<script src="javascript/respond.min.js"></script>
	<![endif]-->
</head>

<body>

{% include "header.html" %}

{% block content %}
{% endblock content %}

{% include "footer.html" %}
{% include "modals.html" %}

<!-- Go Top -->
<a class="go-top">
  <i class="fa fa-chevron-up"></i>
</a>

<!-- Javascript -->
<script type="text/javascript" src="{% static "javascript/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "javascript/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "javascript/jquery.easing.js" %}"></script>
<script type="text/javascript" src="{% static "javascript/matchMedia.js" %}"></script>
<script type="text/javascript" src="{% static "javascript/jquery-waypoints.js" %}"></script>
<script type="text/javascript" src="{% static "javascript/jquery.flexslider.js" %}"></script>
<script type="text/javascript" src="{% static "javascript/jquery.transit.js" %}"></script>
<script type="text/javascript" src="{% static "javascript/jquery.leanModal.min.js" %}"></script>
<script type="text/javascript" src="{% static "javascript/jquery.tweet.min.js" %}"></script>
<script type="text/javascript" src="{% static "javascript/jquery.cookie.js" %}"></script>
<script type="text/javascript" src="{% static "javascript/jquery.doubletaptogo.js" %}"></script>
<script type="text/javascript" src="{% static "javascript/smoothscroll.js" %}"></script>
<script type="text/javascript" src="{% static "javascript/main.js" %}"></script>
<script type="text/javascript" src="{% static "javascript/auth.js" %}"></script>
</body>


</html>
