{% load staticfiles %}
<!-- Footer -->
<footer id="footer">
  <div class="footer-widgets">
    <div class="container">
      <div class="row">
        <div class="col-md-4 gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
          <div class="widget widget-brand">
            <div class="logo logo-footer">
              <a href="{% url "website:index" %}"><img src="{% static "tlogo.png" %}" /></a>
            </div>
            <p>This pays especially well in technology, where you earn a premium for working fast.</p>
          </div><!-- /.widget-brand -->
          <div class="widget widget-social">
            <h5 class="widget-title">Follow Us</h5>
            <div class="social-list">
              <a href="#"><img src="{% static "images/facebook.svg" %}" alt="image"></a>
              <a href="#"><img src="{% static "images/twitter.svg" %}" alt="image"></a>
              <a href="#"><img src="{% static "images/youtube.svg" %}" alt="image"></a>
              <a href="#"><img src="{% static "images/dribbble.svg" %}" alt="image"></a>
            </div>
            <a class="email" href="#">info@ippgroup.in</a>
          </div><!-- /.widget-social -->
        </div><!-- /.col-md-4 -->
        <div class="col-md-4 gn-animation" data-animation="fadeInUp" data-animation-delay="0.2s" data-animation-offset="75%">
          <div class="widget widget-twitter">
            <h5 class="widget-title">Twitter</h5>
            <div class="latest-tweets" data-number="3" data-username="envato" data-modpath="twitter/index.html"></div>
          </div><!-- /.widget-twitter -->
        </div><!-- /.col-md-4 -->
        <div class="col-md-2 gn-animation" data-animation="fadeInUp" data-animation-delay="0.4s" data-animation-offset="75%">
          <div class="widget widget-list">
            <h5 class="widget-title">Main</h5>
            <ul class="links-list">
              <li><a href="#">Mustreads</a></li>
              <li><a href="#">Tech</a></li>
              <li><a href="#">Business</a></li>
              <li><a href="#">Entertainment</a></li>
              <li><a href="#">Social Media</a></li>
            </ul>
          </div><!-- /.widget-list -->
        </div><!-- /.col-md-2 -->
        <div class="col-md-2 gn-animation" data-animation="fadeInUp" data-animation-delay="0.6s" data-animation-offset="75%">
          <div class="widget widget-list">
            <h5 class="widget-title">About Us</h5>
            <ul class="links-list">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Our Team</a></li>
              <li><a href="#">Careers </a></li>
              <li><a href="#">Advertise</a></li>
              <li><a href="#">Copyright</a></li>
            </ul>
          </div><!-- /.widget-list -->
        </div><!-- /.col-md-2 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.footer-widgets -->
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          &copy; 2017. All rights reserved by Indian Printer Publisher Group and it's affiliates. Designed and developed by <a href="http://www.delhinerds.com" target="_blank">Delhi Nerds</a>.
        </div><!-- /.col-md-12 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div>
</footer>
