{% load staticfiles %}

<!-- Header -->
<header id="header" class="header">
  <div class="top-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
                <div id="logo" class="logo">
          <a href="index.html" rel="home" title="home">
            <img src="{% static "tlogo.png" %}" style="" alt="Good News" />
          </a>
              </div>
              <div class="follow-us">
                <div class="follow-title">
                  Follow Us
                </div>
                <ul class="social-links">
                  <li class="facebook"><a href="#">Follow us on Facebook</a></li>
                  <li class="twitter"><a href="#">Follow us on Twitter</a></li>
                  <li class="google"><a href="#">Follow us on Google</a></li>
                  <li class="linkedin"><a href="#">Follow us on Linkedin</a></li>
                  <li class="pinterest"><a href="#">Follow us on Pinterest</a></li>
                </ul>
              </div>
            </div><!-- /.col-md-6 -->
            <div class="col-md-6">
              <div class="btn-menu"></div><!-- //mobile menu button -->
              <div class="member-area">
                {% if request.user.is_authenticated %}
                 <span>Welcome {{user.first_name}} {{user.last_name}}</span>
                 <span class="signup-popup"><a href="#">My Account</a></span>
                 <span class="login-popup"><a href="{% url "website:logout" %}">Logout</a></span>
                {% else %}
                 <span class="login-popup"><a href="#login-modal">Login</a></span>
                 <span class="signup-popup"><a href="#signup-modal">Become a member</a></span>
                {% endif %}
              </div>
            </div><!-- /.col-md-6 -->
          </div><!-- /.row -->
       </div><!-- /.container -->
  </div><!-- /.top-wrap -->

  {% if not request.resolver_match.view_name == "website:index" %}
    <div class="header-wrap">
     <div class="container">
        <div class="row">
        <div class="col-md-9">
          <nav id="mainnav" class="mainnav">
            <ul class="menu">
              <li><a href="{% url "website:articles:index" site.site.pk site.site.name|slugify %}">Home</a></li>
              <li class="has-children"><a href="#">Categories</a>
                <ul class="sub-menu">
                  {% for each in categories %}
                    <li><a href="{% url "website:articles:category" site.site.pk site.site.name|slugify each.pk each.name|slugify %}">{{each.name}}</a></li>
                  {% endfor %}
                </ul><!-- /.submenu -->
              </li>
              <li><a href="category.html">About Us</a></li>
              <li><a href="ui-elements.html">Contact Us</a></li>
            </ul><!-- /.menu -->
          </nav><!-- /nav -->
        </div><!-- /.col-md-9 -->
        <div class="col-md-3">
          <div class="search-wrap">
            <div class="search-icon"></div><!-- //mobile search button -->
            <form action="#" id="searchform" class="search-form" method="get" role="search">
              <input type="text" id="s" placeholder="Search" class="search-field">
              <input type="submit" value="&#xf002;" id="searchsubmit" class="search-submit">
              <a class="search-close" href="#"><i class="fa fa-times-circle"></i></a>
            </form>
          </div><!-- /.search-wrap -->
        </div><!-- /.col-md-3 -->
        </div><!-- /.row -->
     </div><!-- /.container -->
    </div><!-- /.header-wrap -->
    {% endif %}
</header>
