{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Home
{% endblock title %}


{% block content %}
	<section id="main">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="gnSlider gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
							<div class="flex-container">
									<div class="flexslider loading">
											<ul class="slides">
												{% for each in sites %}
													<li>
															<div class="item-wrap">
																<a href="{% url "website:articles:index" each.site.pk each.site.name|slugify %}"><img src="{{each.image.url}}" alt="image"></a>																	
																	<p class="item" data-bottomtext="0">{{each.about|safe}}</p>
															</div>
													</li>
												{% endfor %}
											</ul>
									</div>
							</div>
					</div><!-- /.gnSlider -->
				</div>
			</div>
		</div>
	</section>
{% endblock content %}
