<!-- Login and Signup Form -->
  <div id="login-modal" class="login popup" style="display: none;">
      <a class="close-modal" href="#"></a>
      <div class="form-title">
          <h4>Login</h4>
          <div class="signup">
              No account yet? <a href="#">Sign Up</a>
          </div>
      </div>
      <div class="login-by">
          <div class="log-face-w">
              <a class="log-facebook" href="{% url "social:begin" "facebook" %}">Login with Facebook</a>
          </div>
          <div class="log-twit-w">
              <a class="log-twitter" href="{% url "social:begin" "twitter" %}">Login with Twitter</a>
          </div>
      </div>
      <form name="login-form">
          <div class="email-wrap">
              <input type="text" size="30" value="" class="input" id="email" name="email" placeholder="Email">
          </div>
          <div class="pass-wrap">
              <input type="password" size="30" value="" class="input" id="password" name="password" placeholder="Password">
          </div>
          <div class="option-login">
              <div class="forgot">
                  <a href="#">I forgot my password</a>
              </div>
          </div>
          <div class="submit-login">
              <input type="hidden" value="{{csrf_token}}" id="csrf" />
              <button type="submit" id="login-submit">Login</button>
          </div>
      </form>
  </div>
  <div id="signup-modal" class="popup" style="display: none;">
      <a class="close-modal" href="#"></a>
      <div class="form-title">
          <h4>Sign Up</h4>
          <div class="signup">
              Already a member? <a href="#">Login</a>
          </div>
      </div>
      <div class="login-by">
          <div class="log-face-w">
              <a class="log-facebook" href="{% url "social:begin" "facebook" %}">Login with Facebook</a>
          </div>
          <div class="log-twit-w">
              <a class="log-twitter" href="{% url "social:begin" "twitter" %}">Login with Twitter</a>
          </div>
      </div>
      <form name="signup-form">
          <div class="name-wrap">
              <input type="text" size="30" value="" class="input" id="fname" name="name" placeholder="First Name">
          </div>
          <div class="name-wrap">
              <input type="text" size="30" value="" class="input" id="lname" name="name" placeholder="Last Name">
          </div>
          <div class="email-wrap">
              <input type="text" size="30" value="" class="input" id="email2" name="log" placeholder="Email">
          </div>
          <div class="pass-wrap">
              <input type="password" size="30" value="" class="input" id="password2" name="password" placeholder="Password">
          </div>
          <div class="submit-login">
              <input type="hidden" id="csrf2" value="{{csrf_token}}" />
              <button type="submit" id="signup-submit">Signup</button>
          </div>
      </form>
  </div>
